@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-popup {
  animation: growDown 0.6s ease-in-out forwards;
}

.hide {
  animation: shrinkDown 0.1s ease-in forwards;
}

.summary {
  margin-left: 12px;
}

.summary::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  background: rgba(232, 166, 250, 0.50);
  width: 2px;
  border-radius: 2px;
}

.word {
  animation: fadeUp 0.5s ease-out;
}

@keyframes fadeUp {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    transform: translateY(-10px);
    max-height: 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    max-height: 700px;
    opacity: 1;
  }
}

@keyframes shrinkDown {
  0% {
    transform: translateY(0);
    max-height: 700px;
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    max-height: 0;
    opacity: 0;
  }
}

.image-contain { /* Used for logos, left align */
  min-height: 50px;
  max-height: 200px;
  padding: 0.5rem;
  margin-right: auto;
  object-fit: contain;
}

.image-cover { /* Used for backgrounds that we can cut off */
  height: 200px;
  width: 100%;
  object-fit: cover;
}