@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-popup {
  animation: growDown 0.3s ease-in-out;
}

@keyframes growDown {
  0% {
    transform: translateY(-10px);
    max-height: 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    max-height: 1000px;
    opacity: 1;
  }
}
