@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-popup {
  animation: growDown 0.3s ease-in-out;
}

@keyframes growDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#optionsGrid {
  display: grid;
  grid-template-columns: auto minmax(50px, 1fr);
  gap: 10px;
}

#optionsGrid input, #optionsGrid textarea {
  color: black;
  padding: 2px;
}